<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: red;
        }
        #title{
            color: rgb(248, 244, 11);
        }
    </style>
</head>
<body bgcolor="skyblue">
    
<!--     
        {% for job in rec %}
            <h1 align="center" id="title">Welcome {{job.name}}</h1>
           <tr><th><h1>Name: {{job.name}}</h1></th><th><a href="/delete?eid={{job.id}}">Delete</a></th></tr><br>
           <th><a href="/update?update={{job.id}}">update</a></th> 
           <h1>F.Name: {{job.fname}}</h1><br>
            <h1>Email: {{job.email}}</h1><br>
            <h1>Password: {{job.password}}</h1><br>
            <h1>Mobile No: {{job.mob}}</h1><br>
            <h1>DOB: {{job.dob}}</h1><br>
            <h1>Gender: {{job.gender}}</h1><br>    {% endfor %}-->
         
         {% for job in emp %}
        
            <div style="background-color:lightslategray; height:100px;padding:8px;">
                <h1 style="text-align:center; color: black;">Welcome-----{{job.name}}-----this is your all the details that you submited. </h1>
              </div>
           
            <form action="/update" method="post"style="border:1px solid;width:400px; padding:19px;margin:auto; background-color:skyblue;margin-top:7%;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{job.id}}"
               <tr>
                  <td><input type="text" value="{{job.name}}" name="name"style="color:black;margin-top:4%;">&nbsp;&nbsp;Name:</h1></td>
               </tr><br>
               <tr>
                <td><input type="text"  value="{{job.fname}}" name="fname"style="color:black;margin-top:4%;">&nbsp;&nbsp;F.name:</h1></td>
             </tr><br>
             <tr>
                <td><input type="text" value="{{job.email}}" name="email"style="color:black;margin-top:4%;">&nbsp;&nbsp;Email:</h1></td>
             </tr><br>
             <tr>
                <td><input type="text" value="{{job.password}}" name="password"style="color:black;margin-top:4%;">&nbsp;&nbsp;Password:</h1></td>
             </tr><br>
             <tr>
                <td><input type="text" value="{{job.mob}}" name="mob"style="color:black;margin-top:4%;">&nbsp;&nbsp;Mobile No:</h1></td>
             </tr><br>
             <tr>
                <td><input type="date" value="{{job.dob}}"  name="dob" style="color:black;margin-top:4%;">&nbsp;&nbsp;DOB:</h1></td>
             </tr><br>
             <tr>
                <td><input type="text"  value="{{job.gender}}" name="gender"style="color:black;margin-top:4%;">&nbsp;&nbsp;Gender:</h1></td>
             </tr>
             <br>
             <button style="color:seagreen;margin-top:4%;" type="submit">submit</button>

             


            </form>
            {% endfor %}
          
        
      
    
    
     
</body>
</html>
